<div class="ingreso">
  <h2 class="ingreso_titulo">Ingresos</h2>

  <div *ngFor="let ingreso of ingresos" class="elemento limpiarEstilos">
    <div class="elemento_descripcion">{{ingreso.descripcion}}</div>
    <div class="right limpiarEstilos">
      <div class="elemento_valor">{{ingreso.valor}}</div>
      <div class="elemento_eliminar">
        <button class="elemento_eliminar--btn">
          <img class="img-icon-1" src="../assets/icon/cancelV.png" alt="auto" (click)="eliminarRegistro(ingreso)">
          <!-- <i class="ion-ios-close-outline">add</i> -->
        </button>
      </div>
    </div>
  </div>
</div>
