<form>
  <div class="agregar">
    <div class="agregar_contenedor">
      <select class="agregar_tipo">
        <option value="ingresos">+</option>
        <option value="egresos">-</option>
      </select>
      <input type="text" class="agregar_descripcion" placeholder="Agregar Descripción">
      <input type="number" class="agregar_valor" placeholder="Valor">
      <button class="agregar_btn">
        <img class="img-icon" src="../assets/icon/add.png" alt="auto">
        <!-- <i class="ion-ios-checkmark-outline">add</i> -->
      </button>
    </div>
  </div>
</form>
